@import 'tailwindcss';
@plugin 'tailgrids/plugin';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #1A237E;
  --color-accent: #00E5FF;
  --color-dark: #121212;
  --color-dark-2: #1E1E1E;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  font-family: var(--font-inter), sans-serif;
}

.sticky-menu .navbar-logo {
  @apply py-2;
}

.sticky-menu #navbarToggler span {
  @apply bg-dark dark:bg-white;
}

.sticky-menu #navbarCollapse li>a {
  @apply text-dark hover:text-primary hover:opacity-100 dark:text-white;
}

#navbarCollapse li .ud-menu-scroll.active {
  @apply opacity-70;
}

.sticky-menu #navbarCollapse li .ud-menu-scroll.active {
  @apply text-primary opacity-100 dark:text-white;
}

.sticky-menu .loginBtn {
  @apply text-dark hover:text-primary hover:opacity-100 dark:text-white;
}

.sticky-menu .signUpBtn {
  @apply bg-primary hover:bg-dark text-white hover:text-white;
}

.navbarTogglerActive>span:nth-child(1) {
  @apply top-[7px] rotate-45 transform;
}

.navbarTogglerActive>span:nth-child(2) {
  @apply opacity-0;
}

.navbarTogglerActive>span:nth-child(3) {
  @apply top-[-8px] rotate-135;
}
